.form {
  display: flex;
  transform: translateY(-50%);
  gap: 0.5rem;
}

.textInput {
  flex: 1;
  background: var(--gray-500);
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--gray-100);
}

.form button[type="submit"] {
  cursor: pointer;
  background: var(--blue-dark);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--gray-100);
}
